<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <p>Endpoints</p>

    <h2>GET REQUESTS : </h2>  
    <p>ADD USERS FROM CSV TO DB --  /users </p>
    <p>GET ALL USERS IN JSON -- /users/get-users </p>
    
    <h2>POST REQUESTS:</h2>
    <p>GET CSV FILE FROM DB -- /users/get-csv-file</p>
    <p>DELETE ALL USERS -- /users/delete</p>

</body>
</html>